.switch{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 44px;
        height: 22px;
        line-height: 20px;
        vertical-align: middle;
        border-radius: 20px;
        border: 1px solid #ccc;
        background-color: #ccc;
        cursor: pointer;
        transition: all .3s cubic-bezier(.78,.14,.15,.86);
        user-select: none;
        &-inner{
            color: #fff;
            font-size: 12px;
            position: absolute;
            left: 24px;
        }
        &:after {
        position: absolute;
        width: 18px;
        height: 18px;
        left: 2px;
        top: 1px;
        border-radius: 18px;
        background-color: #fff;
        content: " ";
        cursor: pointer;
        transition: left .3s cubic-bezier(.78,.14,.15,.86),width .3s cubic-bezier(.78,.14,.15,.86);
        }
        &-checked{
            border-color: #2db7f5;
            background-color: #2db7f5;
            .switch-inner{
                left: 6px;
            }
            &:after {
                left: 22px;
            }
        }
        &-disabled {
            cursor: not-allowed;
            background: #f4f4f4;
            border-color: #f4f4f4;
            .switch-inner {
                color: #ccc;
            }
            &:after {
                background: #ccc;
                cursor: not-allowed;
            }
        }
        &-small {
            height: 14px;
            line-height: 12px;
            width: 28px;
            &:after {
                width: 12px;
                height: 12px;
                top: 0;
                left: 0;
            }
            &.switch-checked:after {
                left: 14px;
            }
        }
    }